@font-face {
    font-family: "mini";
    src: url('../assets/fonts/mini/Miniver-Regular.woff2');
}
@font-face{
    font-family: "pop";
    src: url("../assets/fonts/poppins/Poppins-Light.woff2");
}
*{
    font-family: "pop",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header .navbar h2{
    font-family: 'mini';
}
a{
    text-decoration: none;

}